@font-face {
    font-family: 'SFPro';
    font-weight: 100;
    src: url(../fonts/SFPro/SFProDisplay-Ultralight.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SFPro';
    font-weight: 100;
    font-style: italic;
    src: url(../fonts/SFPro/SFProDisplay-UltralightItalic.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SFPro';
    font-weight: 300;
    src: url(../fonts/SFPro/SFProDisplay-Light.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SFPro';
    font-weight: 300;
    font-style: italic;
    src: url(../fonts/SFPro/SFProDisplay-LightItalic.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SFPro';
    font-weight: 400;
    src: url(../fonts/SFPro/SFProDisplay-Regular.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SFPro';
    font-weight: 400;
    font-style: italic;
    src: url(../fonts/SFPro/SFProDisplay-RegularItalic.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SFPro';
    font-weight: 500;
    src: url(../fonts/SFPro/SFProDisplay-Medium.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SFPro';
    font-weight: 500;
    font-style: italic;
    src: url(../fonts/SFPro/SFProDisplay-MediumItalic.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SFPro';
    font-weight: 600;
    src: url(../fonts/SFPro/SFProDisplay-Semibold.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SFPro';
    font-weight: 600;
    font-style: italic;
    src: url(../fonts/SFPro/SFProDisplay-SemiboldItalic.ttf) format('truetype');
    font-display: swap;
}



@font-face {
    font-family: 'SFPro';
    font-weight: 700;
    src: url(../fonts/SFPro/SFProDisplay-Bold.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SFPro';
    font-weight: 700;
    font-style: italic;
    src: url(../fonts/SFPro/SFProDisplay-BoldItalic.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SFPro';
    font-weight: 900;
    src: url(../fonts/SFPro/SFProDisplay-Black.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SFPro';
    font-weight: 900;
    font-style: italic;
    src: url(../fonts/SFPro/SFProDisplay-BlackItalic.ttf) format('truetype');
    font-display: swap;
}